@model TravelTripProje.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br/>
@using (Html.BeginForm("BlogGuncelle", "Admin", FormMethod.Post))
{
    <label>ID</label>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" , @readonly="readonly"})
    <br/>
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br/>
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br/>
    <label>Resim</label>
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br/>
    <label>Başlık</label>
    @Html.TextAreaFor(x => x.Explanation,15,1, new { @class = "form-control" })
    <br/>
    <button class="btn btn-success">BLOG GÜNCELLE</button>
}

